<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>
<body>
    <div class="tags">
        <h2>Tags</h2>
        <ul>
            {% for tag in tags %}
                <li>
                    {{ tag.name }}
                    <a href="{% url 'delete_tag' tag.id %}">delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_tag' %}">Add Tag</a>
    </div>


    <div class="courses">
    <h2>Course List</h2>
    <form class="fillter" method="get" action="{% url 'index' %}">
        {% for tag in tags %}
            <label>
                <input type="radio" name="tag_ids" value="{{ tag.id }}" {% if tag.id|stringformat:"s" in selected_tag_ids %}checked{% endif %}>
                {{ tag.name }}
            </label><br>
        {% endfor %}
        <button type="submit">Filter</button>
        {% if selected_tag_ids %}
            <a href="{% url 'index' %}">Clear Filter</a>
        {% endif %}
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Tags</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.price }}</td>
                    <td>
                    {% for tag in course.tag.all %}
                    <p>{{ tag.name }}</p>
                    {% endfor %}
                     </td>
                    <td class="btn">
                        <a href="{% url 'view_list_lesson' course.id  %}">
                            View detail
                        </a> 
                    </td>
                   <td class="btn">
                        <a href="{% url 'add_list_lesson' course.id  %}">
                            Add lesson
                        </a> 
                    </td>
                    <td class="btn">
                        <a href="{% url 'add_edit' course.id %}">
                            <button class="edit-btn">Edit</button>
                        </a> 
                    </td>
                    <td class='btn'>
                         <button class="delete-btn" onclick="deleteCourse({{ course.id }})"> Delete </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="add-btn" > Add course </buton>
    </div>
</body>


<script>
    function deleteCourse(courseId) {
        if (confirm('Are you sure you want to delete this course?')) {
            window.location.href = `course/delete/${courseId}`;
        }
    }
  document.querySelector('.add-btn').addEventListener('click', function() {
      window.location.href = "{% url 'add_new_course' %}"; 
  });


  
</script>
</html>
