<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lessons</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lesson.css' %}">

</head>
<body>
    <h1>Lessons in {{ course.name }} course</h1>
    <ul>
        <table>
            <thead>
                <tr>
                    <th>Name lesson</th>
                    <th>Time</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.name }}</td>
                <td>{{ lesson.time }} minutes</td>
                <td class="btn">
                    <a href="{% url 'update_lessons' course.id lesson.id  %}">
                        <button class="edit-btn">Edit</button>
                    </a> 
                </td>
                <td class='btn'>
                    <input type="checkbox" class="lesson-checkbox" data-id="{{ lesson.id }}">
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="btn-feature">
            <button type="submit" onclick="deleteSelected()">Delete Selected</button>
            <button type="submit" onclick="deleteAll()">Delete All</button>    
        </div>

    </ul>

    <script>
        function deleteLesson(lessonId) {
            if (confirm('Are you sure you want to delete this lesson?')) {
                window.location.href = `lesson/delete/${lessonId}`;
            }
        }

        function deleteSelected() {
            var selectedLessons = [];
            $('.lesson-checkbox:checked').each(function() {
                selectedLessons.push($(this).data('id'));
            });
            deleteLessons(selectedLessons);
        }

        function deleteAll() {
            var allLessons = [];
            $('.lesson-checkbox').each(function() {
                allLessons.push($(this).data('id'));
            });
            deleteLessons(allLessons);
        }

        function deleteLessons(lessonIds) {
            $.ajax({
                url: "{% url 'delete_lessons' course.id %}",
                method: "POST",
                data: {
                    action: "delete_selected",
                    lesson_ids: lessonIds,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, errmsg, err) {
                    console.log(err)
                }
            });
        }
    </script>
</body>
</html>
